<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>sleep..</title>
    <meta name="viewport" content="width=device-width">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body onload="clicked();">
    <!-- <button onclick="clicked();">press to continue</button> -->
    <script src="static/script.js?ver=1"></script>
</body>

</html>